* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.end-message:after {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 99;
	color: #fff;
	text-align: center;
	font-family: monospace;
	font-size: 100px;
	text-transform: uppercase;
}

.crashed:after {
	content: "plane crash";
}

game-stats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
	width: 100%;
	height: 128px;
	background-color: #888888;
}
game-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 33.33%;
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
}

game-label span {
	color: #000;
	text-transform: uppercase;
}

game-label label {
	color: #fff;
}

game-screen {
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

screen-canvas {
	display: flex;
	flex-direction: column;	
}

screen-row {
	display: flex;
	flex-direction: row;
	transition: height 0.32s ease-out;
}

river-pixel {
	display: block;
	background-color: #7c6fdb;
}

river-pixel.plane-was-here {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

river-pixel.plane-was-here:before {
	content: "";
	height: 100%;
	width: 5px;
	background-color: #dedf38;
}

river-pixel.plane-was-here:after {
	content: "";
	height: 100%;
	width: 5px;
	background-color: #dedf38;
}

grass-pixel {
	display: block;
	background-color: #68a940;
}

forest-pixel {
	display: flex;
	flex-direction: row;
	background-color: #5d943c;
	position: relative;
	justify-content: center;
}

forest-pixel:before {
	content: '';
	display: block;
	width: 8px;
	height: 85%;
	background-color: #193607;
	margin-left: 6px;
	margin-right: 1px;
}

forest-pixel:after {
	content: '';
	display: block;
	width: 8px;
	height: 100%;
	background-color: #193607;
}

forest-pixel i:nth-child(1) {
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	height: 20px;
	width: 20px;
	background-color: #274c11;
	border-radius: 30% 70% 47% 53% / 30% 52% 48% 70%;
}

forest-pixel i:nth-child(2) {
	display: block;
	position: absolute;
	top: -15px;
	left: 5px;
	height: 20px;
	width: 20px;
	background-color: #274c11;
	border-radius: 36% 64% 100% 0% / 30% 100% 0% 70%;
}

forest-pixel i:nth-child(3) {
	display: block;
	position: absolute;
	top: -15px;
	left: 13px;
	height: 20px;
	width: 20px;
	background-color: #274c11;
	border-radius: 58% 42% 91% 9% / 67% 77% 23% 33%;
}

forest-pixel i:nth-child(4) {
	display: block;
	position: absolute;
	top: -5px;
	left: 23px;
	height: 20px;
	width: 20px;
	background-color: #274c11;
	border-radius: 83% 17% 54% 46% / 43% 44% 56% 57%;
}

mountain-pixel {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	background-color: #68a940;
}

mountain-pixel:before {
	content: "";
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 24px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 32px solid #7abfc7;
	z-index: 1;
}

mountain-pixel:after {
	content: "";
	display: block;
	position: absolute;
	margin-right: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 19px solid transparent;
	border-bottom: 32px solid #72a2ec;
}

coast-pixel {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	background-color: #274c11;
}

coast-pixel.right {
	flex-direction: row;
}

coast-pixel.left:before,
coast-pixel.right:before {
	content: '';
	width: 20%;
	background-color: #7abfc7;
}

coast-pixel.left:after,
coast-pixel.right:after {
	content: '';
	width: 70%;
	background-color: #ff9800;
}

player-pixel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

player-pixel .wings {
	position: absolute;
	top: 8px;
	display: block;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #dedf38;
	z-index: 1;
}

player-pixel .body {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 32px solid #dedf38;
	z-index: 1;
}

fire-pixel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

fire-pixel:before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background-color: #dedf38;
}

enemy-pixel {
	position: relative;
	background-color: #7c6fdb;
}

enemy-pixel.boat:before {
	content: "";
	position: absolute;
	bottom: 4px;
	left: 0;
	right: 0;
	border-top: 12px solid #d71818;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

enemy-pixel.boat:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 50%;
    background-color: #d71818;
}

enemy-pixel.chopper:before {
	content: "";
	width: 100%;
	height: 5px;
	background-color: #9c27b0;
	display: block;
}

enemy-pixel.chopper:after {
	content: "";
	position: absolute;
	width: 16px;
	top: 4px;
	height: 16px;
	background-color: #9c27b0;
	display: block;
	left: 4px;
}

enemy-pixel.baloon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

enemy-pixel.baloon:before {
	content: "";
	width: 22px;
	height: 22px;
	background-color: #673ab7;
	display: block;
	border-radius: 8px;
}

enemy-pixel.baloon:after {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #673ab7;
	display: block;
	border-radius: 8px;
}

enemy-pixel.zeds-dead {
	background-color: #7367c8;
}

enemy-pixel.zeds-dead:after {
	content: "";
	position: absolute;
	bottom: 14px;
	left: 4px;
	right: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	height: 8px;
	width: 16px;
	background: #ccc;
	border-radius: 6px;
}

enemy-pixel.zeds-dead:before {
	content: "";
	position: absolute;
	bottom: 4px;
	left: 13px;
	right: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	height: 8px;
	width: 16px;
	background: #333;
	border-radius: 6px;
}
