* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.end-message:after {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 99;
	color: #fff;
	text-align: center;
	font-family: monospace;
	font-size: 100px;
	text-transform: uppercase;
}

.crashed:after {
	content: "plane crash";
}

game-stats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
	width: 100%;
	height: 128px;
	background-color: #888888;
}
game-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 33.33%;
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
}

game-label span {
	color: #000;
	text-transform: uppercase;
}

game-label label {
	color: #fff;
}

game-screen {
	display: flex;
	flex-direction: column-reverse;
}

screen-canvas {
	display: flex;
	flex-direction: column;	
}

screen-row {
	display: flex;
	flex-direction: row;
}

river-pixel {
	display: block;
	background-color: #7c6fdb;
}

grass-pixel {
	display: block;
	background-color: #68a940;
}

coast-pixel {
	display: block;
	background-color: #7abfc7;
}

player-pixel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

player-pixel:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 32px solid #dedf38;
}

fire-pixel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

fire-pixel:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #dedf38;
}