* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.end-message:after {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 99;
	color: #fff;
	text-align: center;
	font-family: monospace;
	font-size: 100px;
	text-transform: uppercase;
}

.crashed:after {
	content: "plane crash";
}

game-stats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
	width: 100%;
	height: 128px;
	background-color: #888888;
}
game-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 33.33%;
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
}

game-label span {
	color: #000;
	text-transform: uppercase;
}

game-label label {
	color: #fff;
}

game-screen {
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

screen-canvas {
	display: flex;
	flex-direction: column;	
}

screen-row {
	display: flex;
	flex-direction: row;
	transition: height 0.32s ease-out;
}

river-pixel {
	display: block;
	background-color: #7c6fdb;
}

river-pixel.plane-was-here {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

river-pixel.plane-was-here:before {
	content: "";
	height: 100%;
	width: 5px;
	background-color: #dedf38;
}

river-pixel.plane-was-here:after {
	content: "";
	height: 100%;
	width: 5px;
	background-color: #dedf38;
}

grass-pixel {
	display: block;
	background-color: #68a940;
}

coast-pixel {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	background-color: #274c11;
}

coast-pixel.right {
	flex-direction: row;
}

coast-pixel.left:before,
coast-pixel.right:before {
	content: '';
	width: 20%;
	background-color: #7abfc7;
}

coast-pixel.left:after,
coast-pixel.right:after {
	content: '';
	width: 70%;
	background-color: #ff9800;
}

player-pixel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

player-pixel .wings {
	position: absolute;
	top: 8px;
	display: block;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #dedf38;
	z-index: 1;
}

player-pixel .body {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 32px solid #dedf38;
	z-index: 1;
}

fire-pixel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

fire-pixel:before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background-color: #dedf38;
}

enemy-pixel {
	position: relative;
	background-color: #7c6fdb;
}

enemy-pixel.zeds-dead {
	background-color: #7367c8;
}

enemy-pixel.zeds-dead:after {
	content: "";
	position: absolute;
	bottom: 14px;
	left: 4px;
	right: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	height: 8px;
	width: 16px;
	background: red;
	border-radius: 6px;
}

enemy-pixel.zeds-dead:before {
	content: "";
	position: absolute;
	bottom: 4px;
	left: 13px;
	right: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	height: 8px;
	width: 16px;
	background: red;
	border-radius: 6px;
}

enemy-pixel:before {
	content: "";
	position: absolute;
	bottom: 4px;
	left: 0;
	right: 0;
	border-top: 12px solid #d71818;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

enemy-pixel:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 50%;
    background-color: #d71818;
}